.DS_Store
*.pyc
*.tmproj
/src

local.py
local_settings.py

/.Python

.*.swp
.*.swo

*.pyo
.tags
/tags
/mktags
/tmtags
.project
*.coverage
.settings/
xml_reports
.pydevproject*
*.coverage
coverage.xml
nosetests.xml
*.db
*coverage_html*
/ve
.installed.cfg
*.swp
.idea
eggs/
develop-eggs/
parts/
.DS_Store
build/

TAGS
\.#*

.ropeproject
!.gitignore
pep8.txt
htmlcov
.reqs-md5.txt
pylint.txt
output.html
output.xml
